{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{article.title}}</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="#">La rédaction</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>publié le {{article.createdAt|date("  m/d/Y", "Europe/Paris")}}</p>
            <p>
                {% for tag in article.tags  %}

                <span class="badge badge-secondary"> {{tag.libelle}}</span>
                {% endfor %}

            </p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded"
                src="{{asset('images/articles/' ~ article.image) | imagine_filter('carre') }}" alt="{{article.title}}">

            <div class="float-right">
                <a class="btn btn-primary" data-toggle="modal" data-target="#modalReport" data-whatever="@mdo">signaler
                </a>

                {% include "shared/_modalReport.html.twig" with { "entity" : "article" , "url" : "report_article" } %}
            </div>
            <hr>

            <!-- Post Content -->
            <p class="lead"> {{article.introduction}} </p>

            <p> {{article.content}} </p>
            <hr>

            {% if app.user %}
            <div class="card my-4">
                <h5 class="card-header">Laisser un commentaire:</h5>
                <div class="card-body">
                    <form method="POST" action="{{path('comment_new' , {'id' : article.id})}}">
                        <div class="form-group">
                            <textarea name="content" class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            </div>

            {% endif %}

            <!-- Comments Form -->


            <!-- Single Comment -->

            {% for comment in article.comments %}

            <section>
                {%  if comment.auteur is same as(app.user) %}
                <div class="float-right">
                    <form method="POST" action="{{path('comment_delete', {'id' : comment.id })}}"
                        onsubmit="return confirm('Voulez vous vraiment supprimer ce commentaire ?');">

                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                        <input type="submit" value="Supprimer">
                    </form>
                </div>
                {% endif %}
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle"
                        src="{{asset('images/users/' ~ comment.auteur.avatar) | imagine_filter('avatar') }}"
                        alt="image de profil de {{comment.auteur.pseudo}} ">
                    <div class="media-body">
                        <h5 class="mt-0">{{comment.auteur}}</h5>
                        {{ comment.content|raw }}
                    </div>
                </div>





            </section>
            {% endfor %}


        </div>
    </div>

</div>

<!-- Sidebar Widgets Column -->

<!-- /.container -->
{% endblock %}