{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}



<div class="col-md-8 mx-auto p-3 ">
    <img class="card-img-top" src="{{asset('images/articles/' ~ article.image)}}" alt="Card image cap">
    <div class="card-body">
        <p class="card-text"> Title : {{article.title}}</p>
        <p class="card-text"> Introduction {{article.introduction}}</p>
        <p class="card-text"> Content: {{article.content|raw}}</p>
    </div>
</div>







<a class="btn btn-warning " id="ajax-link" href="{{path('articleAjax', {'id' : article.id})}}">Clique ici si tu veux
    voir de l'ajax</a>
<a class="btn btn-secondary " href="{{path('panier_add', {'id' : article.id})}}">Ajouter au panier
</a>
<span id="rep"></span>

{% if app.user %}
<form method="POST" action="{{path('comment_new' , {'id' : article.id})}}">

    <textarea name="content" id="" cols="100" rows="5"></textarea>
    <input type="submit" value="Poster">
</form>
{% endif %}


{% for comment in article.comments %}
<div class="row col-md-8 mx-auto border border-black p-2 m-3">

    <div class="m-3">
        auteur: {{comment.auteur}} <br>
        content: {{ comment.content|raw }} <br>
    </div>
</div>

<form method="POST" action="{{path('comment_delete', {'id' : comment.id })}}"
    onsubmit="return confirm('Voulez vous vraiment supprimer ce commentaire ?');">

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <input type="submit" value="Supprimer">
</form>
{% endfor %}

{% endblock %}


{% block javascripts %}
<script src=" https://unpkg.com/axios/dist/axios.min.js "> </script>

<script>

    let link = document.querySelector('#ajax-link');
    let rep = document.querySelector('#rep');
    document.querySelector('#ajax-link').addEventListener('click', function (event) {
        event.preventDefault();
        const url = link.href;


        axios.get(url).then(function (response) {

            let title = response.data.title;

            rep.innerHTML = title;

        }
        )
    })

</script>


{% endblock javascripts %}