{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}

<section>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron p-5 rounded-0 text-center text-white"
                style="background-image: url('https://believemy.com/uploads/f536b82491a5a3c07e60cf2b977ded35_03b49c2a70d5bf98d966a517f96cfb87.jpeg')">
                <h4 class="display-4">Inscriptions ouvertes</h4>
                <p class="lead"> Année 2180-2181</p>
                <hr class="my-4">
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Documents
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Dossier d'inscription</a>
                        <a class="dropdown-item" href="#">Règlement intérieur</a>
                        <a class="dropdown-item" href="#">Documents concernant l'internat</a>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>




<div class="col-md-8 mx-auto p-3 ">
    <img class="card-img-top" src="{{asset('images/articles/' ~ article.image) | imagine_filter('detail') }}"
        alt="Card image cap">
    <div class="card-body">
        <p class="card-text"> Title : {{article.title}}</p>
        <p class="card-text"> Introduction {{article.introduction}}</p>
        <p class="card-text"> Content: {{article.content|raw}}</p>
    </div>
</div>







{% if app.user %}
<form method="POST" action="{{path('comment_new' , {'id' : article.id})}}">

    <textarea name="content" id="" cols="100" rows="5"></textarea>
    <input type="submit" value="Poster">
</form>
{% endif %}


{% for comment in article.comments %}
<div class="row col-md-8 mx-auto border border-black p-2 m-3">

    <div class="m-3">
        auteur: {{comment.auteur}} <br>
        content: {{ comment.content|raw }} <br>
    </div>
</div>

<form method="POST" action="{{path('comment_delete', {'id' : comment.id })}}"
    onsubmit="return confirm('Voulez vous vraiment supprimer ce commentaire ?');">

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <input type="submit" value="Supprimer">
</form>
{% endfor %}

{% endblock %}
